@model GameShelf.Models.ViewModels.GameEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create New Game</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameWithPersonInfo.Title" class="control-label"></label>
                <input asp-for="GameWithPersonInfo.Title" class="form-control" />
                <span asp-validation-for="GameWithPersonInfo.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameWithPersonInfo.PlayTime.PlayTimeCategory" class="control-label"></label>
                <select class="form-control" asp-for="GameWithPersonInfo.PlayTimeID" asp-items="@Model.PlayTimeSelect">
                    <option value="">Select Playing Time</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="GameWithPersonInfo.MinPlayers" class="control-label"></label>
                <input asp-for="GameWithPersonInfo.MinPlayers" class="form-control" type="text" />
                <span asp-validation-for="GameWithPersonInfo.MinPlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameWithPersonInfo.MaxPlayers" class="control-label"></label>
                <input asp-for="GameWithPersonInfo.MaxPlayers" class="form-control" type="text" />
                <span asp-validation-for="GameWithPersonInfo.MaxPlayers" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GameWithPersonInfo.Owners" class="control-label"></label> &nbsp;
                <a asp-controller="People" asp-action="Create" asp-route-origin="gamecreate">Create a New Person in the Database</a><br />
                <div id="checkboxes">
                    @{
                        foreach (var person in Model.AllPersonsData)
                        {
                            <input type="checkbox" name="selectedOwners" value="@person.PersonID"/> @:@person.FullName <br />
                        }
                    }
                </div>
            </div>

            <div class="form-group">
                <label asp-for="GameWithPersonInfo.Designers" class="control-label"></label> &nbsp;
                <a asp-controller="People" asp-action="Create" asp-route-origin="gamecreate">Create a New Person in the Database</a><br />
                <div id="checkboxes">
                    @{
                        foreach (var person in Model.AllPersonsData)
                        {
                            <input type="checkbox" name="selectedDesigners" value="@person.PersonID"/> @:@person.FullName <br />
                        }
                    }
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to My Games</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
