@model GameShelf.Models.ViewModels.DeletePersonViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Person</h2>

<h3>Are you sure you want to delete @Model.FullName?</h3>
<p>@Model.FullName will be removed from @Model.GamesCount game(s).</p>
<div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to Game Owners and Designers</a>
    </form>
</div>
